$navhight: 60px;

:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 0;
    color: var(--MediumGray);
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--AlmostWhite);
}


.countainer {
    padding: 0 20px;
}

a,
button,
.button {
    text-decoration: none;
    color: initial;
    cursor: pointer;

    &:hover {
        color: var(--AlmostBlack);
    }

    &:focus-within {
        outline: 1px solid var(--AlmostBlack);
    }
}

a:hover {
    color: var(--AlmostBlack);
}

.button,
button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden__M {
    display: none !important;
}


.nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    // border-bottom: 1px solid #eee;

    .nav-left,
    .nav-center,
    .nav-right,
    .navlist {
        display: flex;
        align-items: center;
        gap: 15px
    }

    .nav-left {
        margin-right: 40px;
        margin-left: 0;

        .logo {
            color: var(--AlmostBlack);
            font-size: 2.5rem;
            font-weight: 700;
        }

    }

    .nav-center {
        margin-right: 0;
        margin-left: 0;
    }

    .nav-right {
        margin-right: 0;
        margin-left: auto;
    }


    .navlist {
        position: relative;
        gap: 30px;


        li a {
            display: flex;
            align-items: center;
            justify-content: start;
            height: $navhight;
            line-height: 1;
            color: var(--MediumGray);
            font-size: 1rem;
            font-weight: 500;

            &:hover,
            &:focus,
            &:focus-within {
                color: var(--AlmostBlack);
            }

            &:focus,
            &:focus-within {
                outline: 1px solid var(--AlmostBlack);

            }

        }

        li a.has-dropdown {
            position: relative;

            &::after {
                content: "";
                margin-left: 10px;
                width: 10px;
                height: 16px;
                background-image: url(../images/icon-arrow-down.svg);
                background-repeat: no-repeat;
                background-position: center center;
            }

            &:focus-within::after,
            &:hover::after,
            &:focus::after {
                content: "";
                background-image: url(../images/icon-arrow-up.svg);

            }

            &:hover+.dropdown,
            &:focus+.dropdown,
            &:focus-within+.dropdown {
                display: block;

            }
        }

        .dropdown {
            position: absolute;
            display: none;
            background-color: #fff;
            z-index: 2;
            padding: 20px;
            font-size: 13px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 5px;
            border: 1px solid var(--AlmostWhite);
            box-shadow: 0px 0px 50px 0px hsla(0, 0%, 0%, 0.12);

            &:hover,
            &:focus,
            &:focus-within {
                display: block;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li a {
                    gap: 2px;
                    height: 0;
                    padding: 10px 0;
                    font-size: .875rem;
                    color: var(--MediumGray);

                    &:hover {
                        color: var(--AlmostBlack);
                    }

                    &::before {
                        content: "";
                        margin-right: 10px;
                        width: 14px;
                        height: 19.33px;
                        background-repeat: no-repeat;
                        background-position: center center;

                    }

                    &.todo::before {
                        background-image: url(../images/icon-todo.svg);
                    }

                    &.calendar::before {
                        background-image: url(../images/icon-calendar.svg);
                    }

                    &.reminder::before {
                        background-image: url(../images/icon-reminders.svg);
                    }

                    &.planning::before {
                        background-image: url(../images/icon-planning.svg);
                    }
                }
            }
        }
    }

    .button,
    button {
        background-color: transparent;
        font-size: 1rem;
        line-height: 1;
        padding: 8px 12px;
        color: var(--MediumGray);

        &.login {
            border: none;

            &:hover {
                color: var(--AlmostBlack);
            }
        }

        &.register {
            border: 1px solid var(--MediumGray);

            &:hover {
                color: var(--AlmostBlack);
            }

        }

    }
}

li.has--dropdown:has(>.dropdown:hover)>a::after,
li.has--dropdown:has(>.dropdown:focus-within)>a::after {
    content: "";
    background-image: url(../images/icon-arrow-up.svg);
}

.dropdown {
    -webkit-animation: rotateMenu 500ms ease-in-out forwards;
    animation: rotateMenu 500ms ease-in-out forwards;
    transform-origin: top center;

    @keyframes rotateMenu {
        0% {
            transform: rotateX(-90deg)
        }

        70% {
            transform: rotateX(20deg)
        }

        100% {
            transform: rotateX(0deg)
        }
    }
}



.hero {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .left {
        // display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 195px 33px 0 160px;


        h1 {
            font-size: 5.5vw;
            line-height: 1;
            font-weight: 700;
            color: var(--AlmostBlack);
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.3rem;
            line-height: 1.5;
            margin-bottom: 2rem;
            font-weight: 500;
        }

        .button {
            font-size: 1.5rem;
            font-weight: 500;
            background-color: var(--AlmostBlack);
            color: var(--AlmostWhite);
            padding: 20px 25px;

            &:hover {
                background-color: transparent;
                color: var(--AlmostBlack);
            }
        }

        .button {
            -webkit-transition: all 300ms ease-out;
            -moz-transition: all 300ms ease-out;
            -ms-transition: all 300ms ease-out;
            -o-transition: all 300ms ease-out;
            transition: all 300ms ease-out;

        }

        .logo-f {
            display: flex;
            gap: 30px;
            justify-content: start;
            align-items: center;
            margin-top: 150px;
            margin-bottom: 0;
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        padding: 40px 40px 0;

        img {
            width: 85%;

        }


    }
}


@keyframes slidingstep1 {
    0% {
        left: -100px;
        opacity: 0;
    }

    5% {
        left: -75px;
        opacity: 0.2;
    }

    10% {
        left: -50px;
        opacity: 0.4;
    }

    15% {
        left: -25px;
        opacity: 0.6;
    }

    20% {
        left: 0px;
        opacity: 1;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}


.logo-f {
    -webkit-animation-name: slidingstep1;
    animation-name: slidingstep1;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}



@media screen and (max-device-width: 1024px),

screen and (max-width:1095px) {
    .nav {
        .nav-left {
            margin-right: 20px;

            .logo {
                font-size: 1.8rem;
                font-weight: 700;
            }

        }

        .navlist {
            li a {
                font-size: .875rem;
            }
        }

        .button,
        button {
            font-size: 1.1rem;
            line-height: 1;
            padding: 10px 20px;
            color: var(--MediumGray);

        }
    }

    .hero {

        .left {
            padding: 60px 25px 0 112px;

            h1 {
                font-size: 5.5vw;
                margin-bottom: 1.3rem;
            }

            p {
                font-size: 1rem;
                line-height: 1.4;
                margin-bottom: 1.3rem;
            }

            .button {
                font-size: 1rem;
                padding: 10px 15px;

            }

            .logo-f {
                margin-top: 50px;
                margin-bottom: 0;
            }
        }

        .right {
            max-height: 100vh;
            width: 50%;
            padding: 20px 15px 0 60px;
            text-align: center;

            img {
                width: 65%;
            }
        }
    }

}

@media screen and (max-device-width: 768px) {
    .hidden__D {
        display: none !important;
    }

    .hero {
        width: 100%;
        align-items: start;
        flex-direction: column-reverse;

        .left {
            padding: 0;
            width: 100%;
            text-align: center;
            padding: 10px;

            h1 {
                font-size: 2.1rem;
                margin: 15px 0;
            }

            p {
                font-size: 1rem;
                line-height: 1.5;
                margin-bottom: 30px;

            }

            .button,
            button {
                font-size: 1.3rem;
                font-weight: 500;
            }

            .logo-f {
                width: 100%;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                gap: 15px;

                img {
                    width: 20%;
                }

            }
        }

        .right {

            padding: 15px 0;
            width: 100%;

            img {
                width: 100%;
            }
        }

    }
}